html,
body {
  padding: 0;
  font-family: 'Comic Sans MS', "Comic Sans", cursive;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

main {
  width: 425px;
  margin: auto;
}

h1,
h2 {
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

button {
  position: relative;
  font-family: 'Comic Sans MS', "Comic Sans", cursive;
  font-weight: bold;
  background-color: white;
  color: black;
  margin-right: 5px;
  padding: 2px 10px;
  box-shadow: 2px 2px 0 black;
}

input {
  font-family: 'Comic Sans MS', "Comic Sans", cursive;
  font-weight: bold;
  font-size: 14px;
  color: black;
}

p {
  margin: 0;
  font-weight: bold;
  display: flex;
  padding: 3px;
  font-size: 14px;
  line-height: 28px;
  justify-content: space-between;
}

p:nth-of-type(odd) { background: gray; }

.border {
  border: solid 3px black;
}

.short-underline {
  display: block;
  width: 135px;
  height: 1.5px;
  background-color: black;
  margin: 15px auto;
}

.add {
  position: relative;
  left: 18%;
  font-family: 'Comic Sans MS', "Comic Sans", cursive;
  background-color: white;
  color: black;
  padding: 2px 10px;
  box-shadow: 2px 2px 0 black;
  margin-right: 0;
}

.booklist:empty {
  display: none;
}
