/* body {
  background-color: #fff;
} */

.nav-bar {
  display: flex;
  flex-flow: row;
  height: 40px;
  justify-content: space-around;
  font-size: 1.5em;
  border: 4px solid black;
}

/* .right > a, .nav-bar {
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  list-style: none;
} */

h1,
h2 {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
}

hr {
  display: block;
  font-size: 30px;
  width: 200px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  background-color: black;
}

.table-striped {
  border: solid 5px black;
  width: 50%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

tr {
  margin: 0;
  font-weight: bold;
  display: flex;
  padding: 3px;
  font-size: 15px;
  line-height: 30px;
  justify-content: space-between;
}

tr:nth-of-type(odd) {
  background-color: #ccc;
}

form {
  width: 11%;
  margin-left: auto;
  margin-right: auto;
}

.booklist {
  border: 4px solid black;
}

.btn {
  position: relative;
  margin-left: 135px;
  background-color: white;
  color: black;
  padding: 2px 8px;
  box-shadow: 2px 2px 0 black;
  margin-right: 0;
  list-style: none;
  text-decoration: none;
}

.form-control {
  border: solid 2px black;
}

footer {
  position: fixed;
  left: 10px;
  right: 10px;
  height: 50px;
  bottom: 0;
  width: 98%;
  background-color: #fff;
  color: black;
  border: solid 4px black;
}
